<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/" routerLinkActive="active">
            <img src="../assets/upa_logo.png" height="28">
        </a>

        <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" #navMenu>
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/atencion-nutricional" routerLinkActive="active">Atención Nutricional</a>
            <a class="navbar-item" routerLink="/justificacion-faltas" routerLinkActive="active">Justificación de Faltas</a>
            <a class="navbar-item" routerLink="/salud-preventiva" routerLinkActive="active">Salud Preventiva</a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a class="button is-link">
                    <span>
                        Nuevo
                    </span>
                    <span class="icon">
                        <fa-icon [icon]="faUserPlus"></fa-icon>
                    </span>
                  </a>
                </p>
              </div>
            </div>
        </div>            
    </div>
</nav>