<section class="hero is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-black">
            Justificación de faltas
        </h1>
        <h2 class="subtitle">
            Este formulario recopila automáticamente las direcciones de correo electrónico de los usuarios de Universidad Politécnica de Aguascalientes.
        </h2>
      </div>
    </div>
</section>

<div class="container">

    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Matrícula (alumno)</label>
                <div class="field is-grouped">
                    <div class="control has-icons-left">
                        <span class="icon is-small is-right">
                         <p class="has-text-grey">UP</p>
                        </span>
                        <input class="input" type="text" placeholder="160516" maxlength="6" minlength="6" required
                            [(ngModel)]="loValorMatricula">
                        <p class="help is-danger" *ngIf="matriculaIncompleta">Matrícula o ID deben tener 6 dígitos</p>
                        <p class="help is-danger" *ngIf="matriculaNoExiste">Matrícula o ID no existe</p>
                    </div>
                    <div class="control">
                        <p class="buttons">
                            <a class="button is-link" (click)="obtenerDetallesUsuarioPorMatricula()">
                                <span class="icon">
                                    <fa-icon [icon]="faSearch"></fa-icon>
                                </span>
                                <span>Buscar</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="detallesBandera">
                <div class="field">
                    <label class="label">Área</label>
                    <div class="control">
                        <input class="input" [ngModel]="loValorAreaUsuario" disabled>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Nombre</label>
                    <div class="control">
                        <input class="input" [ngModel]="loValorNombre" disabled>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Cuatrimestre</label>
                    <div [ngClass]="dropDownActivoCuatrimestre ? 'dropdown is-active' : 'dropdown'" >
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="cambiarEstatusDropdown('cuatrimestre')">
                                <span *ngIf="!loValorCuatrimestre">Selecciona Cuatrimestre</span>
                                <span *ngIf="loValorCuatrimestre">{{loValorCuatrimestre.texto}}</span>
                                <span class="icon is-small">
                                    <fa-icon [icon]="faAngleDown" aria-hidden="true"></fa-icon>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item" *ngFor="let cuatrimestre of cuatrimestres; let i = index" [attr.data-index]="i" (click)="modificarValorDropdown(i, 'cuatrimestre')">
                                    {{cuatrimestre}}
                                </a>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="field">
                    <label class="label">Clasificación de motivo de ausencia</label>
                    <div [ngClass]="dropDownActivoEnfermedad ? 'dropdown is-active' : 'dropdown'" >
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="cambiarEstatusDropdown('enfermedad')">
                                <span *ngIf="!loValorEnfermedad">Selecciona Motivo</span>
                                <span *ngIf="loValorEnfermedad">{{loValorEnfermedad.texto}}</span>
                                <span class="icon is-small">
                                    <fa-icon [icon]="faAngleDown" aria-hidden="true"></fa-icon>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item" *ngFor="let enfermedad of enfermedades; let i = index" [attr.data-index]="i" (click)="modificarValorDropdown(i, 'enfermedad')">
                                    {{enfermedad.nombre}}
                                </a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="column">
            <div *ngIf="detallesBandera">
                <div class="field">
                    <label class="label">Comprobante de Justificación</label>
                    <div class="control">
                        <div class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" name="comprobante" (change)="manejarArchivo($event.target.files)">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <fa-icon [icon]="faUpload"></fa-icon>
                                    </span>
                                    <span class="file-label">
                                    Escoje una imágen...
                                    </span>
                                </span>
                                <span class="file-name">
                                    {{nombreArchivo}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>        
                <div class="field">
                    <label class="label">Descripción detallada de ausencia o enfermedad</label>
                    <div class="control">
                        <textarea class="input" placeholder="Describe el motivo de ausencia" [(ngModel)]="loValorDecripcionEnfermedad" minlength="10"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Seleccione día/días de ausencia</label>
                    <div class="control">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione un rango</mat-label>
                            <mat-date-range-input [rangePicker]="picker" [min]="fechaMinima" [max]="fechaMaxima">
                              <input matStartDate placeholder="Fecha Inicio" [(ngModel)]="loValorFechaInicio">
                              <input matEndDate placeholder="Fecha Fin" [(ngModel)]="loValorFechaFin">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                    </div>
                </div>
                
                <div class="field is-grouped">
                    <div class="control">
                        <p class="buttons">
                            <a class="button is-link" (click)="enviarFormularioJustificacionFaltas()">
                                <span class="icon">
                                    <fa-icon [icon]="faPaperPlane"></fa-icon>
                                </span>
                                <span>Enviar</span>
                            </a>
                        </p>
                    </div>
                    <div class="control">
                        <p class="buttons">
                            <a class="button is-link is-light" (click)="limpiarValores()">
                                <span class="icon">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </span>
                                <span>Limpiar</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="notification is-success is-light" *ngIf="mensajeSatisfactorio">
        <button class="delete" (click)="cerrarNotificacion('satisfactoria')"></button>
        {{loValorMensajeSatisfactorio}}
    </div>
      
      
    <div class="notification is-danger is-light" *ngIf="mensajeError">
        <button class="delete" (click)="cerrarNotificacion('error')"></button>
        {{loValorMensajeError}}
    </div>
</div>