<div class="container">
    <div class="columns is-vcentered">
        <div class="column">
            <img src="../assets/doctor-colour-1200px.png" alt="" width="80%">
        </div>
        <div class="column is-centered">
            <h1 class="title is-1 has-text-link"><span class="has-text-weight-light has-text-black">Plataforma</span> {{title}} <span class="has-text-weight-light has-text-black">de UPA.</span></h1>
            <h4 class="subtitle is-4">Formularios de salud integral para alumnos, docentes y administrativos.</h4>
        </div>
    </div>

</div>